.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 10px;

  @media screen and (max-width: 940px) {
    width: 500px;
  }

  .title {
    margin: 10px 0;
    font-size: 32px;
  }
}
